/* CustomerPage.style.css */

.customer-page {
    margin: 0 auto;
    padding: 10px;
    background: linear-gradient(to bottom, #ffffff, #d0e0b8);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    
   
}

.customer-page h2 {
    margin-bottom: 20px; /* Add margin at the bottom to create space */
    border-radius: 35px; /* Rounded corners */
    padding: 10px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    width: 100vh;
    max-width: 1400px;
    background-color: #B9D194;
    color: white;    
}

.customer-list-container {
    background-color: #B9D194;
    border-radius: 35px;
    padding: 10px; /* Adjusted padding */
    margin: 0 auto;
    max-width: 1400px; /* Adjusted to match parent container */
    width: 100vh;
    
}


.customer-list{
    margin: 0 auto;
  display: grid;
  max-width: 100%; /* Adjusted to match parent container */
  padding: 1px;
  width: 100vh;
 
}

.customer-list-container h3 {
    margin-top: 10px; /* Keep the existing margin-top */
    margin-bottom: 20px; /* Add margin at the bottom to create space */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    max-width: 1400px;
    color: white;
    padding: 10px;
    width: 100vh;
}




