/* AppointmentPage.style.css */

.appointment-page {
    margin: 0 auto;
    padding: 10px;
    background: linear-gradient(to bottom, #ffffff, #d0e0b8);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    
}

.appointment-page h2 {

}

.appointment-list-container {
  
}

.appointment-list-container h3 {
   
}

.appointment-list {
 
}


