/* CustomerAdder.style.css */

.customer-adder {
    border-radius: 10px;
    padding: 10px;
    max-width: 500px; 
    margin: 0 auto; 
    border-radius: 35px;
    color: white;
    background-color: #b9d194;
    margin-top: 20px;
    max-width: 1400px; 
    margin-left: auto; 
    margin-right: auto; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    width: 100vh;
    max-width: 1400px;
}




.customer-adder input[type="text"] {
    width: 500px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #F3F7ED;
    border-radius: 5px;
    box-sizing: border-box;
}

.customer-adder h3 {
    margin-bottom: 20px; /* Add margin at the bottom to create space */
    border-radius: 35px; /* Rounded corners */
    padding: 10px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    width: 100vh;
    max-width: 1400px;
    background-color: #B9D194;
    color: white; 
     
  }

.customer-adder button {
    width: 250px;
    height: 35px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    background-color: #a6f5a9; 
    color: black;
}
.customer-adder button:hover {
    opacity: 1;
    background-color: #4CAF50;
    color: white;
}