.animal-adder {
  
}

.h1 {
    color: #fff; /* Text color */
    font-size: 24px; /* Font size */
    text-align: center; /* Center align text */
    margin-bottom: 10px; /* Bottom margin */
}

.h2 {
    color: #fff; /* Text color */
    font-size: 18px; /* Font size */
    text-align: center; /* Center align text */
    margin-bottom: 20px; /* Bottom margin */
}
