.animal-adder {
   
    border-radius: 10px;
    padding: 10px;
    max-width: 500px; 
    margin: 0 auto; 
    border-radius: 35px;
    color: white;
    background-color: #b9d194;
    margin-top: 20px;
    max-width: 1400px; 
    margin-left: auto; 
    margin-right: auto; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    width: 100vh;
    max-width: 1400px;

}

.animal-adder input[type="text"],
.animal-adder input[type="date"],
.animal-adder select {
    width: 500px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #F3F7ED;
    border-radius: 5px;
    box-sizing: border-box;
    
}



.animal-adder button {
    width: 250px;
    height: 35px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    background-color: #a6f5a9; 
    color: black;
}



.animal-adder button:hover {
    opacity: 1;
    background-color: #4CAF50;
    color: white;
}
