.home-page {
    background: linear-gradient(to bottom, #ffffff, #d0e0b8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    position: relative;
}

.home-page h1 {
    font-size: 32px;
    color: #58352F;    
    margin-bottom: 20px;
}

.home-page p {
    font-size: 18px;
    color: #58352F;
    color: #555;
    align-items: center;
    height: 100vh;
    width:  100vh;
}

.home-page img{
    max-width: 80%; /* Ensure images don't exceed their container width */
    max-height: 100%; /* Ensure images don't exceed their container height */
    transition: transform 0.3s ease; 
  
    
   
}


