/* VaccinePage.style.css */

.vaccine-page {
    margin: 0 auto;
    padding: 10px;
    background: linear-gradient(to bottom, #ffffff, #d0e0b8);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; /* Cente
}

.vaccine-list-container {
    /* Styles for the container of the vaccine list */
}

.vaccine-list {
    /* Styles for the list of vaccines */
}

.vaccine-list-container h3 {
    /* Styles for the heading of the vaccine list */
}

.vaccine-page h2 {
    /* Styles for the heading of the vaccine page */
}
